<script>

let str = document.querySelector("h2").innerText

if(str == "Alabama Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#d1d5d9',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      al: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Alaska Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#d1d5d9',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ak: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Arizona Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
  backgroundColor: '#d1d5d9',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      az: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "California Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
  backgroundColor: '#d1d5d9',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ca: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Colorado Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#d1d5d9',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      co: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Connecticut Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ct: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Delaware Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      de: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "District of Columbia Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      dc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Georgia Data"){
jQuery(document).ready(function() {
   jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ga: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}



if(str == "Illinois Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      il: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Indiana Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      in: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Iowa Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ia: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Kansas Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ks: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Kentucky Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ky: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Louisiana Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      la: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Maine Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      me: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Maryland Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      md: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Massachusetts Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ma: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Michigan Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      mi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Minnesota Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      mn: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Missouri Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      mo:'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Nebraska Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ne: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Nevada Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      nv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "New Hampshire Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      nh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "New Jersey Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      nj: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "New Mexico Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      nm: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "New York Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ny: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "North Carolina Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      nc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Ohio Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      oh: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Oklahoma Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ok: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Oregon Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      or: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Pennsylvania Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      pa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Rhode Island Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ri: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "South Carolina Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      sc: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Utah Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      ut: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Vermont Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      vt: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Virginia Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      va: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Washington Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      wa: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "West Virginia Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
  borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      wv: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

if(str == "Wisconsin Data"){
jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap({
    backgroundColor: '#e9edf2',
    selectedColor: null,
    color: '#a8a8a8',
    map: 'usa_en',
    borderWidth: 2,
    borderColor: 'black',
    hoverOpacity: .5,
    colors: {
      wi: 'hsl(2,100%,' + (100 - Math.pow(document.getElementById("microtable").rows[1].cells[3].innerHTML.substring(5,7),2)/25) + '%' +")"
    }
  });
});
}

</script>
</div>
<div id="myDiv">
<script>

  var ultimateColors =
    ['rgb(191, 54, 54)', 'rgb(46, 0, 0)' ,'rgb(168, 0, 0)', 'rgb(255, 0, 0)','rgb(158, 27, 27)', 'rgb(207, 62, 62)', 'rgb(214, 99, 99)', 'rgb(184, 112, 112)', 'rgb(212, 146, 146)', 'rgb(227, 179, 179)',  'rgb(240, 221, 221)'
    ]
;

for(var i=2;i<10;i++){
var pie = [{
  values: [document.getElementById("microtable").rows[1].cells[4].innerHTML, document.getElementById("microtable").rows[1].cells[5].innerHTML, document.getElementById("microtable").rows[1].cells[6].innerHTML, document.getElementById("microtable").rows[1].cells[7].innerHTML,
  document.getElementById("microtable").rows[1].cells[8].innerHTML, document.getElementById("microtable").rows[1].cells[9].innerHTML, document.getElementById("microtable").rows[1].cells[10].innerHTML, document.getElementById("microtable").rows[1].cells[11].innerHTML,
  document.getElementById("microtable").rows[1].cells[12].innerHTML, document.getElementById("microtable").rows[1].cells[13].innerHTML, document.getElementById("microtable").rows[1].cells[14].innerHTML],
  labels: ['Firearm','Cut/Pierce','Struck by/against','Poisoning','Hanging/Suffocation','Fall','Drowning','Fire/Burn','Motor vehicle','Other','Unknown'],
  type: 'pie',
  marker: {
     colors: ultimateColors
   },
 }];

var layout = {
  height: 500,
  width: 700,
  paper_bgcolor: '#e9edf2',
};

Plotly.newPlot('myDiv', pie, layout);
}



</script>
</div>
