<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> MACRO DATA </title>
  <link rel="stylesheet" href="../style.css">

  <meta name="author" content="Maia and Ryan">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.js"></script>
</head>

<body>
  <header>
    <a href="../about.html">about page</a>

    <h1>MACRO DATA</h1>
    <h2>This is our macro data </h2>
  </header>

<style>

path {
       stroke: white;
       stroke-width: .5px;
       fill: black;
   }

   .state {
     fill: ;
     cursor: pointer;
   }

</style>
<div class="home"></div>

<script>

const width = 900;
const height = 600;
const svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

const projection = d3.geoAlbersUsa()
    .translate([width / 2, height / 2]) // translate to center of screen
    .scale([1000]); // scale things down so see entire US

const path = d3.geoPath().projection(projection);

d3.json("https://gist.githubusercontent.com/Bradleykingz/3aa5206b6819a3c38b5d73cb814ed470/raw/a476b9098ba0244718b496697c5b350460d32f99/us-states.json", function(error, uState) {
if (error) throw error;
svg.selectAll('path')
   .data(uState.features)
   .enter()
   .append('path')
   .attr("d", path)
   .attr('class', 'state')
});

_(uState.features)
    .keyBy('properties.name')
    .merge(_.keyBy(response.data, 'State'))
    .values()
    .value();

let max = d3.max(response.data, function (d, i) {
    return d.unemploymentRate;
});
let min = d3.min(response.data, function (d, i) {
    return d.unemploymentRate;
});


const colorScale = d3.scaleLinear()
    .domain([min, max])
     //I goofed, so this has to be in reverse order
    .range(["#00806D", "#00BC4C", "#00F200", "#85FB44"].reverse());

    let numbers= [2,3,9,12,20,15,25,4,31,6,7,12,18]
    console.log(d3.min(numbers));
    //2
    console.log(d3.max(numbers))

    svg.selectAll('path')
        .data(uState.features)
        .enter()
        .append('path')
        .attr("d", path)
        .attr('class', 'state')
        .style('fill', function (d, i) {
            let uRate = d.unemploymentRate;
            return uRate ? colorScale(uRate) : "#ccc";
        })

</script>

  <section id="data info">
    <table>
      <tr>
        <th>State</th>
        <th>Percent</th>


      </tr>
      <% for(let i=1; i<data.length; i++){ %>
    <tr>
      <% let num = "micro"+(data[i]["number"])+".html" %>
      <td>  <a href=<%=num%>> <%= data[i].state %></a> </td>
      <td><%= data[i].ratio %></td>
    </tr>
    <%}%>

    </table>
  </section>

    <%- include ('global/footer');  %>





</body>

</html>
