<!doctype html>
<html lang="en">

<head>
    <title>JQVMap - World Map</title>
    <link href="../dist/jqvmap.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>


  </head>
  <body>
    <div id="vmap" style="width: 600px; height: 400px;"></div>



  <section id="data info">

    <table id="myTable">
      <tr>
        <th>State</th>
        <th>Percent</th>


      </tr>
      <% for(let i=1; i<data.length; i++){ %>
    <tr>
      <% let num = "micro"+(data[i]["number"])+".html" %>
      <td>  <a href=<%=num%>> <%= data[i].state %></a> </td>
      <td><%= data[i].ratio %></td>
    </tr>
    <%}%>

    </table>
  </section>

    <%- include ('global/footer');  %>



    <script>
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        backgroundColor: 'gray',
        selectedColor: null,
        hoverColor: 'gray',
        color: '#ffffff',
        map: 'usa_en',
        colors: {
          al: '#' + document.getElementById("myTable").rows[1].cells[1].innerHTML.substring(5,11),
          ak: '#' + document.getElementById("myTable").rows[2].cells[1].innerHTML.substring(5,11),
          az: '#' + document.getElementById("myTable").rows[3].cells[1].innerHTML.substring(5,11),
 	        ar: '#' + document.getElementById("myTable").rows[4].cells[1].innerHTML.substring(5,11),
 	        ca: '#' + document.getElementById("myTable").rows[5].cells[1].innerHTML.substring(5,11),
 	        co: '#' + document.getElementById("myTable").rows[6].cells[1].innerHTML.substring(5,11),
 	        ct: '#' + document.getElementById("myTable").rows[7].cells[1].innerHTML.substring(5,11),
 	        de: '#' + document.getElementById("myTable").rows[8].cells[1].innerHTML.substring(5,11),
 	        dc: '#' + document.getElementById("myTable").rows[9].cells[1].innerHTML.substring(5,11),
 	        fl: '#' + document.getElementById("myTable").rows[10].cells[1].innerHTML.substring(5,11),
          ga: '#' + document.getElementById("myTable").rows[11].cells[1].innerHTML.substring(5,11),
 	        hi: '#' + document.getElementById("myTable").rows[12].cells[1].innerHTML.substring(5,11),
 	        id: '#' + document.getElementById("myTable").rows[13].cells[1].innerHTML.substring(5,11),
 	        il: '#' + document.getElementById("myTable").rows[14].cells[1].innerHTML.substring(5,11),
 	        in: '#' + document.getElementById("myTable").rows[15].cells[1].innerHTML.substring(5,11),
 	        ia: '#' + document.getElementById("myTable").rows[16].cells[1].innerHTML.substring(5,11),
 	        ks: '#' + document.getElementById("myTable").rows[17].cells[1].innerHTML.substring(5,11),
 	        ky: '#' + document.getElementById("myTable").rows[18].cells[1].innerHTML.substring(5,11),
 	        la: '#' + document.getElementById("myTable").rows[19].cells[1].innerHTML.substring(5,11),
 	        me: '#' + document.getElementById("myTable").rows[20].cells[1].innerHTML.substring(5,11),
 	        md: '#' + document.getElementById("myTable").rows[21].cells[1].innerHTML.substring(5,11),
 	        ma: '#' + document.getElementById("myTable").rows[22].cells[1].innerHTML.substring(5,11)



        }
      });

    });



    </script>

</body>

</html>
